.months {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.month {
  width: 100px;
  height: 15vh;
  border: 1px solid #333;
  display: flex;
  flex: 0 1 21%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
